Create a "Data" folder in project repository.

In [2]:
# Create a new folder with os
import os
os.makedirs('Data/',exist_ok=True)

In [3]:
# Confirm folder was created and files added successfully
os.listdir("Data/")

['title.basics.tsv.gz', 'title.ratings.tsv.gz', 'title-akas-us-only.csv']

## Preprocessing

In [9]:
#Load title-akas-us-only.csv file as 'akas
import pandas as pd
akas=pd.read_csv('/Users/kellyji/Documents/GitHub/IMDB-Movie-Analysis/Data/title-akas-us-only.csv',low_memory=False)

In [11]:
akas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1452564 entries, 0 to 1452563
Data columns (total 8 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   titleId          1452564 non-null  object
 1   ordering         1452564 non-null  int64
 2   title            1452564 non-null  object
 3   region           1452564 non-null  object
 4   language         1452564 non-null  object
 5   types            1452564 non-null  object
 6   attributes       1452564 non-null  object
 7   isOriginalTitle  1452564 non-null  object
dtypes: int64(1), object(7)
memory usage: 88.7+ MB

In [14]:
# Load title.basics.tsv.gz as 'basics'
basics = pd.read_csv('/Users/kellyji/Documents/GitHub/IMDB-Movie-Analysis/Data/title.basics.tsv.gz', sep='\t', low_memory=False)

In [15]:
basics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10017011 entries, 0 to 10017010
Data columns (total 9 columns):
 #   Column          Dtype
---  ------          -----
 0   tconst          object
 1   titleType       object
 2   primaryTitle    object
 3   originalTitle   object
 4   isAdult         object
 5   startYear       object
 6   endYear         object
 7   runtimeMinutes  object
 8   genres          object
dtypes: object(9)
memory usage: 687.8+ MB

In [16]:
# Filter the basics table down to only include the US by using the filter akas dataframe
filter_us_titles = basics['tconst'].isin(akas['titleId'])
basics = basics[filter_us_titles]
basics

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"
5,tt0000006,short,Chinese Opium Den,Chinese Opium Den,0,1894,\N,1,Short
6,tt0000007,short,Corbett and Courtney Before the Kinetograph,Corbett and Courtney Before the Kinetograph,0,1894,\N,1,"Short,Sport"
...,...,...,...,...,...,...,...,...,...
10016872,tt9916560,tvMovie,March of Dimes Presents: Once Upon a Dime,March of Dimes Presents: Once Upon a Dime,0,1963,\N,58,Family
10016901,tt9916620,movie,The Copeland Case,The Copeland Case,0,\N,\N,\N,Drama
10016939,tt9916702,short,Loving London: The Playground,Loving London: The Playground,0,\N,\N,\N,"Drama,Short"
10016962,tt9916756,short,Pretty Pretty Black Girl,Pretty Pretty Black Girl,0,2019,\N,\N,Short
10016966,tt9916764,short,38,38,0,2018,\N,\N,Short

In [18]:
# Convert placeholder "\N" values back to true null values
import numpy as np
basics=basics.replace({'\\N':np.nan})

In [19]:
# Check for Null values in 'basics' to confirm the change
basics.head(3)

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,NaN,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,NaN,5,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,NaN,1,"Comedy,Short"

In [21]:
# Drop rows with null values in the runtimeMinutes or genres columns 
basics=basics.dropna(subset=['runtimeMinutes','genres'])

In [23]:
basics.isna().sum()

tconst                 0
titleType              0
primaryTitle           0
originalTitle          0
isAdult                0
startYear           8802
endYear           833124
runtimeMinutes         0
genres                 0
dtype: int64

In [27]:
# Filter to keep only full-length movies
full_length_filter=basics['titleType']=='movie'
basics=basics[full_length_filter]
basics.head(5)

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
8,tt0000009,movie,Miss Jerry,Miss Jerry,0,1894,NaN,45,Romance
144,tt0000147,movie,The Corbett-Fitzsimmons Fight,The Corbett-Fitzsimmons Fight,0,1897,NaN,100,"Documentary,News,Sport"
570,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0,1906,NaN,70,"Action,Adventure,Biography"
587,tt0000591,movie,The Prodigal Son,L'enfant prodigue,0,1907,NaN,90,Drama
672,tt0000679,movie,The Fairylogue and Radio-Plays,The Fairylogue and Radio-Plays,0,1908,NaN,120,"Adventure,Fantasy"

In [31]:
# Convert startYear to a float dtype
basics['startYear'].dtype

dtype('O')

In [34]:
basics['startYear']=basics['startYear'].astype('float')
basics['startYear'].dtype

dtype('float64')

In [42]:
# Filter to keep movies with startYears that are >=2000 and <=2022
filter_startYears = (basics['startYear'] >= 2000) & (basics['startYear'] <= 2022)
basics=basics[filter_startYears]

In [43]:
# Eliminate movies that include "Documentary" in genre
filter_documentaries = basics['genres'].str.contains('Documentary')
basics=basics[~filter_documentaries]

In [45]:
basics.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 86979 entries, 34802 to 10016777
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tconst          86979 non-null  object
 1   titleType       86979 non-null  object
 2   primaryTitle    86979 non-null  object
 3   originalTitle   86979 non-null  object
 4   isAdult         86979 non-null  object
 5   startYear       86979 non-null  float64
 6   endYear         0 non-null      object
 7   runtimeMinutes  86979 non-null  object
 8   genres          86979 non-null  object
dtypes: float64(1), object(8)
memory usage: 6.6+ MB

In [46]:
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
34802,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance"
61114,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,NaN,70,Drama
67666,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama
86793,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005.0,NaN,100,"Comedy,Horror,Sci-Fi"
93930,tt0096056,movie,Crime and Punishment,Crime and Punishment,0,2002.0,NaN,126,Drama

In [47]:
# Save filtered dataframe as csv file in data folder
basics.to_csv('/Users/kellyji/Documents/GitHub/IMDB-Movie-Analysis/Data/basics.csv', index=False)

In [48]:
# Load title.rating.tsv.gz as 'rating'
rating = pd.read_csv('/Users/kellyji/Documents/GitHub/IMDB-Movie-Analysis/Data/title.ratings.tsv.gz', sep='\t', low_memory=False)

In [49]:
rating.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1331492 entries, 0 to 1331491
Data columns (total 3 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   tconst         1331492 non-null  object
 1   averageRating  1331492 non-null  float64
 2   numVotes       1331492 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 30.5+ MB

In [52]:
# Remove non-US movies from title basics
filter_rating = rating['tconst'].isin(basics['tconst'])
rating=rating[filter_rating]

In [53]:
rating.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 71900 entries, 17961 to 1331462
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   tconst         71900 non-null  object
 1   averageRating  71900 non-null  float64
 2   numVotes       71900 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 2.2+ MB

In [54]:
# Check for Null values
rating.isna().sum()

tconst           0
averageRating    0
numVotes         0
dtype: int64

No null value was found.

In [55]:
# Display a final preview
rating.head()

          tconst  averageRating  numVotes
17961  tt0035423            6.4     87153
40764  tt0062336            6.4       175
46645  tt0069049            6.7      7754
63640  tt0088751            5.2       336
69953  tt0096056            5.6       846

In [56]:
rating.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 71900 entries, 17961 to 1331462
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   tconst         71900 non-null  object
 1   averageRating  71900 non-null  float64
 2   numVotes       71900 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 2.2+ MB

In [57]:
# Save filtered dataframe as csv file in data folder
rating.to_csv('/Users/kellyji/Documents/GitHub/IMDB-Movie-Analysis/Data/rating.csv',index=False)